.nav-sections-wrap {
	grid-row: 1 / -1;
	grid-column: 1;
	padding: 1rem;
}

.section-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 2rem;
}

.section-list__item > button {
	padding: 1rem;
}