.resume-display {
	aspect-ratio: 1/ 1.414;
	width: min(35vw, 40rem);
	background: #eee;
	padding: 2rem;
}

.display-section {}

.display-section--overview {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
