.resume-editor {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: 0 2rem;
}
.resume-editor__section-title {
	grid-row: 1;
	grid-column: 2;
	margin-bottom: 1rem;
}

.form {
	grid-row: 2;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.input-wrap {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 1.25rem;
}
.input-wrap > input {
	padding: 0.5rem;
	font-size: 1rem;
}

.form__btn-wrap {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}
.form__btn {
	padding: 0.5rem;
	font-size: 1em;
	font-weight: 700;
	border: none;
	transition: transform 50ms;
}
.form__btn:active {
	transform: translateY(4px);
}
.form__btn.--submit {
	color: white;
	background: #025e8f;
}
